{% extends "base.html" %}

{% block doctitle %}Groups{% endblock %}
{% block title %}Groups{% endblock %}

{% block head %}
<style>

.group {
	padding-left: 1em;
}

body {
	font-family: Tahoma, Arial, sans;
	font-size: 18px;
}
input { font-size: 0.7em; vertical-align: text-top; }

a { 
	padding: 0.0em;
}

.links {
	padding-left: 1.0em;
}

img {
	border: 0px;
	vertical-align: baseline;
} 
.new, .del, .rename, .new-user { font-size: 0.8em; }
.name {
	cursor: pointer;
	padding: 0 0.3em 0 0.3em;
}


span.expand {
	font-family: Courier, monospace;
	font-weight: bold;
	cursor: pointer;
	margin: 0.5em;
}

img.expand {
	cursor: pointer;
	padding-right: 0.3em;
}

.children { display: none; }

.drop-hover1 { font-size: 2em; color: #cdf; }

</style>
<script src="/static/jquery.js" type="text/javascript"></script>
<script src="/static/jqueryUI.js" type="text/javascript"></script>
<script src="/static/jquery.blockUI.js" type="text/javascript"></script>
<script src="/static/script.js" type="text/javascript"></script>
<script src="/static/tree.js" type="text/javascript"></script>
<script language="JavaScript">

var treeImages = {
	opened: '/static/tree_opened.gif',
	closed: '/static/tree_closed.gif',
	empty:  '/static/tree_white.gif',
	group:  '/static/folder.gif',
	user:	'/static/user2.png',
	loading:'/static/wait.gif',
	save:	'/static/save.gif',
	del:	'/static/delete.gif'
};

var tree = null;
var groups = {{ groups_json|safe }};
var currentInfo = null;

function showInfo(info) {
	if (currentInfo != info[0]) {
		if (currentInfo != null)
			$(currentInfo).css('display', 'none');
		info.css('display', 'inherit');
		currentInfo = info[0];
	}
}

function showUser(u) {
	var info = $('#user-info');
	info.find('#user-name').html(u.name);
	info.find('#user-account').attr('value', u.email ? u.email : "");
	info.find('#user-calendar').attr('value', u.calId ? u.calId : "");
	showInfo(info);
}

function showGroup(g) {
	var info = $('#group-info');
	info.find('#group-name').html(g.name);
	info.find('#group-calendar').attr('value', g.calId);
	showInfo(info);
}

function groupSelected(g) {
	if (g.type == 'user')
		showUser(g);
	else
		showGroup(g);
}

function saveUser(tree) {
	var g = tree.selectedGroup;
	var info = $('#user-info');
	g.name = info.find('#user-name').html();
	g.email = info.find('#user-account').attr('value');
	g.calId = info.find('#user-calendar').attr('value');
	saveSelectedGroup(tree);
}

$(document).ready(function() {
	createList('#group-list', groups);
	return;
	tree = createTree(groups, '#tree', treeImages, true);
	tree.nodeSelected(groupSelected);
	var info = $('#user-info');
	info.find('#user-submit').click(reduce(saveUser, tree));
});
</script>
{% endblock %}

{% block content %}

<span class="groupLinks links" style="display: none">
	<a href="#" class="rename"><img src="/static/edit.png" title="edit" align="bottom"/></a>
	<a href="#" class="del"><img src="/static/delete.gif"  title="delete"/></a> 
	<a href="#" class="new"><img src="/static/folder.gif"  title="new group"/></a>
	<a href="#" class="new-user"><img src="/static/add-user-icon.png"title="new user"/></a>
	<a href="#" class="new"></a>
</span>

<table border="1" width="100%" height="100%">
<tr>
	<td >
		<div id="tree"></div>
	</td>
	<td width="60%">
		<div id="info">
			<div id="user-info" style="display:none;">
				<table>
					<tr><td>user</td><td><span id="user-name"></span></td></tr>
					<tr><td>e-mail</td><td><input type="text" id="user-account"/></td></tr>
					<tr><td>calendar</td><td><input type="text" id="user-calendar"/></td></tr>
					<tr><td></td><td><input type="submit" value="Save" id="user-submit"/></td></tr>
				</table>
			</div>
			<div id="group-info" style="display:none;">
				name <span id="group-name"></span><br/>
				calendar <input type="text" id="group-calendar"/>
			</div>
		</div>
	</td>
</tr>
</table>

<br/><br/>

<a href="#" onclick="$('#groups-debug').toggle();">debug</a>
<div id="groups-debug" style="display:none;">
{% for g in groups %}
<div class="group">{{g}}</div>
{% endfor %}
</div>
<div><select id="group-list"></select></div>
{% endblock %}
